
<p>Welcome to the Movie Database</P>

	<p>In the search bar, type in the movie name you'd like more information about 
</p>

<form action="/film" method="POST">
<label for="film">Film Search: </label>
<input type="text" name="film"> 

<input type="submit" /> 

</form>