<html>
<head>
	<title>Movie Grabber App</title>
		<link href="/css/main.css" type="text/css", rel="stylesheet" />
</head>

<body>
<h1>Movie Database Search</h1>






</div>

<div id="content">
	<%= yield %>
</div>

</body>
</html>